name: Build
on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: | 
            10.0.x
          
      - run: dotnet restore GameServerManager.Dashboard/GameServerManager.Dashboard.csproj
      - run: dotnet build GameServerManager.Dashboard/GameServerManager.Dashboard.csproj -c Release --no-restore --verbosity normal
